@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --code-bg: oklch(0.97 0.01 260);
  /* Light greyish */
  --token-comment: oklch(0.55 0.03 264);
  --token-selector: oklch(0.58 0.25 27);
  --token-symbol: oklch(0.45 0.15 180);
  --token-operator: oklch(0.4 0.07 227);
  --token-keyword: oklch(0.6 0.2 300);
  --token-function: oklch(0.4 0.15 260);
  --token-string: oklch(0.65 0.15 40);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --code-bg: oklch(0.17 0.03 261);
  /* Darker navy */
  --token-comment: oklch(0.45 0.02 261);
  --token-selector: oklch(0.7 0.19 22);
  --token-symbol: oklch(0.8 0.17 162);
  --token-operator: oklch(0.77 0.19 70);
  --token-keyword: oklch(0.63 0.27 304);
  --token-function: oklch(0.83 0.11 261);
  --token-string: oklch(0.83 0.19 84);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {

  /* The Title Bar (index.js, etc) */
  .rehype-code-title {
    @apply w-fit ml-auto px-4 py-1.5 text-xs font-mono rounded-t-lg border border-b-0 border-border;
    background-color: var(--code-bg);
    color: var(--foreground);
  }

  /* Connect title to code block */
  .rehype-code-title+pre {
    @apply mt-0 rounded-tr-none border-t-0;
  }

  /* Syntax Highlighting Tokens */
  .token.comment {
    color: var(--token-comment);
    font-style: italic;
  }

  .token.string,
  .token.attr-value {
    color: var(--token-string);
  }

  .token.keyword,
  .token.operator {
    color: var(--token-keyword);
  }

  .token.function,
  .token.class-name {
    color: var(--token-function);
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: var(--token-symbol);
  }

  .token.selector,
  .token.attr-name,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: var(--token-selector);
  }

  /* Blog Content Overrides */
  .prose {
    @apply max-w-none text-foreground;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4 {
    @apply font-bold tracking-tight text-foreground scroll-m-20;
  }

  .prose h1 {
    @apply text-3xl lg:text-4xl mt-10 mb-6;
  }

  .prose h2 {
    @apply text-2xl lg:text-3xl mt-8 mb-4 border-b border-border pb-2;
  }

  .prose h3 {
    @apply text-xl lg:text-2xl mt-6 mb-3;
  }

  .prose ul {
    @apply list-disc list-outside ml-6 my-6 marker:text-muted-foreground;
  }

  .prose ol {
    @apply list-decimal list-outside ml-6 my-6 marker:text-muted-foreground;
  }

  .prose li {
    @apply mt-2 leading-7 pl-1;
  }

  .prose p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .prose blockquote {
    @apply mt-6 border-l-2 border-primary pl-6 italic text-muted-foreground;
  }

  .prose strong {
    @apply font-bold text-foreground;
  }
}